@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IgFont;
  src: url("./Fonts/IgFont_2.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.load {
  animation: skeleton-loading 1s linear infinite alternate;
  outline: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(38, 38, 38);
  }

  100% {
    background-color: rgb(38, 38, 38, 0.5);
  }
}
